.screen {
    border: solid var(--color-neutral-olive) 2px;
    border-radius: 40px;
    margin: auto;
    max-width: 900px;
    padding: 50px;
    user-select: none;
    display: flex;
    flex-direction: column;
}
