.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
    height: 650px;
    padding: var(--padding-uniform);
    border-radius: var(--border-radius-uniform);
}

body[data-theme-color='light'] {
    .screen {
        background-color: var(--color-ivory);
    }
}

body[data-theme-color='dark'] {
    .screen {
        background-color: var(--color-sandstone);
    }
}
