.screen {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    max-width: 900px;
    border: solid var(--color-neutral-olive) 2px;
    border-radius: var(--border-radius-uniform);
    user-select: none;
    gap: var(--gap-uniform);
}
