⚝ Solving the fifteen puzzle

https://guptaanna.github.io/15418Project/


⚝ Color palettes

https://infashionbalance.com/fashion-palette-555-dior-fashion-style/
https://infashionbalance.com/fashion-palette-552-saint-laurent-style/
https://infashionbalance.com/fashion-palette-554-dior-romantic-style/


⚝ Icons SVG

https://heroicons.com/
