.anime-character {
    width: 340px;
    height: 340px;
    border-radius: 100%;
    transform: scaleX(-1);
}

.anime-character {
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
