.button-select-screen {
    display: block;
    width: 150px;
    padding: 0.5rem 0;
    border: none;
    border-radius: 15px;
    border-bottom: solid var(--color-neutral-charcoal) 5px;
    background-color: var(--color-accent-terracotta);
    color: var(--color-light);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.button-select-screen:hover {
    filter: brightness(110%);
    transform: scale3d(1.1, 1.1, 1.1);
}
