.screen-mode {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 820px;
    height: 690px;
    padding: var(--padding-uniform);
    gap: var(--gap-uniform);
    border-radius: var(--border-radius-uniform);
}

.screen-mode__header {
    display: flex;
    justify-content: space-between;
}

body[data-color-theme='light'] {
    .screen-mode {
        background-color: var(--color-ivory);
    }
}

body[data-color-theme='dark'] {
    .screen-mode {
        background-color: var(--color-sandstone);
    }
}
