.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-uniform);
}

body {
    .artwork__div {
        border-radius: 100%;
        background:
            radial-gradient(circle,
                var(--color-amber),
                var(--color-honey));
    }

    &:has(input:checked) {
        .artwork__div {
            border-radius: 100%;
            background:
                radial-gradient(circle,
                    var(--color-parchment),
                    var(--color-dove-gray),
                    var(--color-slate));
        }
    }
}
