.square-tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-neutral-charcoal);
    text-shadow: 0 0 2px var(--color-accent-brown-dark);
    border: solid 1px var(--color-accent-sienna);
    border-radius: 4px;
    background-color: var(--color-accent-terracotta);
    box-shadow:
        inset 0 0 10px var(--color-accent-gray-dark),
        inset 0 0 20px var(--color-accent-orange-light),
        0 0 10px var(--color-accent-orange-muted);
}

.square-tile:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.square-tile[data-id='0'] {
    visibility: hidden;
}

.square-tile.move {
    grid-column: 1;
    grid-row: 1;
}
