.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-uniform);
}

body[data-theme-color='dark'] {
    .artwork__div {
        border-radius: 100%;
        background:
            radial-gradient(circle,
                var(--color-parchment),
                var(--color-dove-gray),
                var(--color-slate));
    }
}

body[data-theme-color='light'] {
    .artwork__div {
        border-radius: 100%;
        background:
            radial-gradient(circle,
                var(--color-amber),
                var(--color-honey));
    }
}
