:root {
	font-family: Consolas;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--theme-background-color: #eaeaf1;
	--theme-background-color-light: #eaeaf1;
	--theme-background-color-dark: #535353;

	--color-dark: #2e2e2e;
	--color-light: #eeeeee;

	--padding-uniform: 20px;
	--gap-uniform: 20px;
	--border-radius-uniform: 10px;
	--scale3d: scale3d(1.1, 1.1, 1.1);


	/* all themes */
	--color-bronze: #B7874B;
	--color-cinnamon: #804D2D;
	--color-chestnut: #98653B;
	--color-terracotta: #C99572;
	--color-burgundy: #622B1A;
	--color-copper: #C88B5F;
	--color-coral: #DDB598;
	--color-mocha: #563C30;
	--color-olive: #716634;
	--color-taupe: #A28E69;

	/* theme light */
	--color-ivory: #ECE4CC;
	--color-amber: #ffa149;
	--color-honey: #ffe289;

	/* theme dark */
	--color-sandstone: #CCBDA6;
	--color-slate: #484e52;
	--color-dove-gray: #afb9c5;
	--color-parchment: #e3cdb3;


	/* not used */
	--gap-outer: 40px;
	--color-crimson: #AB2119;
	--color-apricot-cream: #D1BA90;
	--color-coal: #282624;
	--color-jet-black: #060607;
	--color-deep-sea: #111f28;
	--color-peach: #ffd9bd;
	--color-mauve: #b197aa;
	--color-periwinkle: #8399c5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	display: block;
}

body {
	font-family: inherit;
	margin: 0 auto;
	line-height: 1;
	background-color: var(--theme-background-color);
	transition: background 0.3s linear;
}

body[data-theme-color=dark] {
	background-color: var(--theme-background-color-dark);
}

body[data-theme-color=light] {
	background-color: var(--theme-background-color-light);
}

#app {
	padding-top: var(--padding-uniform);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-background-color: #535353;
	}
}
