:root {
	font-family: Helvetica;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--theme-background-color: #eaeaf1;
	--theme-background-color-light: #eaeaf1;
	--theme-background-color-dark: #535353;
	--color-dark: #2e2e2e;
	--color-light: #eeeeee;
	--color-neutral-olive: #A28E69;
	--color-accent-terracotta: #C99572;
	--color-accent-sienna: #B7874B;
	--color-neutral-charcoal: #6A6357;
	--color-accent-khaki: #f0e68c;
	--color-accent-corn: #faec61;
	--color-accent-yellow-translucent: #ffff00cc;
	--color-accent-gold: #ffdd00;
	--color-accent-orange: #ff9900;
	--color-accent-orange-translucent: #ffa500cc;
	--gap-uniform: 20px;
	--border-radius-uniform: 10px;


	/* not used */
	--gap-outer: 40px;
	--color-background-light: #ECE4CC;
	--color-alert-crimson: #AB2119;
	--color-neutral-beige: #B6AF9B;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	display: block;
}

body {
	font-family: inherit;
	margin: 0 auto;
	line-height: 1;
	background-color: var(--theme-background-color);
	transition: background 0.3s linear;
}

body[data-theme-color=dark] {
	background-color: var(--theme-background-color-dark);
}

body[data-theme-color=light] {
	background-color: var(--theme-background-color-light);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-background-color: #535353;
	}
}
