.puzzle-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: var(--border-radius-light);
    background-color: var(--color-chestnut);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.puzzle-grid[data-size='small'] {
    width: 150px;
    height: 150px;
}

.puzzle-grid[data-size='regular'] {
    width: 310px;
    height: 310px;
    font-size: 2rem;
}

.puzzle-grid[data-size='medium'] {
    width: 380px;
    height: 380px;
    font-size: 2.5rem;
}

.puzzle-grid[data-play-enabled=true]:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.puzzle-grid.selected {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px var(--color-dark);
}
